*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  background-image: url(../img/train.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  text-transform: uppercase;
  padding-bottom: 30px;
  color: #006565;
}

.p-70{
  padding: 70px;
}

label , button {
  margin: 10px;
}

.container , .ticket {
  margin: 100px; 
  background-color: #f2f4f49f;
  border-radius: 10px;
}

.hide{
  display: none;
}

.row{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px;
}

.row .col{
  display: flex;
  flex-direction: column;
  font-size: large;
  font-weight: bold;
}

.row-bottoni{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.row-bottoni button{
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 15px;
  background-color: #006565;
}

button:hover{
  background-color: #0065659a;
}

table{
  display: flex;
  justify-content: center;
  background-color: #F2F4F4;
  border-radius: 10px;;
}

table , th , tr{
  padding: 10px 100px;
}

th img{
width: 200px;
}

